<h1>New Cocktail</h1>

<%= form_with model: @cocktail do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% @cocktail.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :image_url %><br>
    <%= form.text_area :image_url %>
    <% @cocktail.errors.full_messages_for(:image_url).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :ingredient %><br>
    <%= form.text_area :ingredient %>
    <% @cocktail.errors.full_messages_for(:ingredient).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :instruction %><br>
    <%= form.text_area :instruction %>
    <% @cocktail.errors.full_messages_for(:instruction).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
