<h1><%= @cocktail.name %></h1>

<img src="<%= @cocktail.image_url %>" alt="Cocktail image" width="720" height="720">

<p><%= @cocktail.ingredient %></p>
<p><%= @cocktail.instruction %></p>

<ul>
  <li><%= link_to "Edit", edit_cocktail_path(@cocktail) %></li>
  <li><%= link_to "Destroy", cocktail_path(@cocktail), data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
  } %></li>
</ul>
